<a href="/lightsabers/<%=@lightsaber.id%>/edit">Edit Lightsaber</a><br><br>

<li>Name: <%= @lightsaber.name %></li>
<li>Color: <%= @lightsaber.color %></li>
<li>Saber Type: <%= @lightsaber.saber_type %></li>
<li>Saber Handle: <%= @lightsaber.saber_handle %></li>
<form action="/lightsabers/<%=@lightsaber.id%>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Lightsaber">
</form>